@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*::-webkit-scrollbar{
    width: 10px;
}
 
*::-webkit-scrollbar-track{
    background-color: transparent;
}
 
*::-webkit-scrollbar-thumb{
    background-color: #57ADBF;
}
html {
	font-size: 10px;
	font-family: 'Roboto Slab', serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.logo img {
	width: 150px;
}



/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #57ADBF;
}
#header .menu {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .menu:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: menu_puls 1s ease infinite;
}
#header .menu .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .menu .bar::after,
#header .menu .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .menu .bar::after {
	top: 8px;
}
#header .menu .bar::before {
	bottom: 8px;
}
#header .menu.active .bar::before {
	bottom: 0;
}
#header .menu.active .bar::after {
	top: 0;
}



/* Navagation Bar */

.navbar{
	transition: 0.5s;
}
.navbar:hover{
	font-size: 24px;
}

.booking{
	border: 5px solid #57ADBF;
	background-color: #57ADBF;
	border-radius: 10px;
	transition: 0.8s;

}
.booking:hover{
	border: 10px solid White;
	background-color: white;
	transition: 0.8s;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.account{
	position: absolute;
	margin-left: 100px;
	top: 37%;
	transition: 0.3s ease;
}
.account:hover{
	position: absolute;
	filter: invert(62%) sepia(77%) saturate(272%) hue-rotate(143deg) brightness(88%) contrast(86%);
	transform: scale(1.2);
}



.dropdown{
	float: left;
	overflow: hidden;
	transition: 0.5s;
}
.dropdown .dropbtn {
	border: none;
	outline: none;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0; 
	transition: 0.5s;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-left: 120px;
	margin-top: 30px;
	transition: 0.5s;
}
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	transition: 0.5s;	
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content{
	display: block;
}






/* Home Section */

#home {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/Bg1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#home .home {
	width: 90%;
	margin: 0 auto;
	padding: 0 50px;
	text-align: center;

}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 60px;
	position: relative;
	color: White;
	font-family: 'Kanit', sans-serif;
}
#home p{
    margin:10px 0 40px;
    font-size: 14px;
    color: white;
	position: relative;
}
#home .a
{
    color: #57ADBF;
}


.btn{
    display: inline-block;
    text-decoration: none;
    color: #CED1DA;
    border: 1px solid white;
    border-radius:  50px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
	transition: 0.8s;
}
.btn:hover{
    border: 4px solid #57ADBF;
    background: #57ADBF;
    transition: 0.8s;
    color: white;
	font-size: 20px;
	box-shadow: 0 0px 20px 0 #57aebfb7;
}




/* About Section */


.about h1 {
	font-size: 70px;
	font-weight: 600;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	font-family: 'Kanit', sans-serif;
}
.about .a
{
    color: #57ADBF;
}
.about{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
	
}

.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}


.col{
    flex-basis: 20%;
    background: #fff3f3;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/Aboutus.jpg);
	background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.6s ease;
}
.col img{
    width:150px;
    height:150px;
}
.col p{
    color: rgb(0, 0, 0);
    font-size:15px;
    font-weight:300;
    line-height: 22px;
    padding: 10px;
	color: white;
}
.col:hover {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.856);
	flex-basis: 30%;
	opacity: 1;
}
.col:hover h3{
	opacity:1;
}


p{
    color: rgb(0, 0, 0);
    font-size:15px;
    font-weight:300;
    line-height: 22px;
    padding: 10px;
}
h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
	font-size: 20px;
	font-family: 'Kanit', sans-serif;
	color: white;
	opacity:0;
	transition: 0.3s;
}







/* Contact Section */

.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.348), rgba(0, 0, 0, 0.411)), url(../Images/Contact.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.contact h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
	font-family: 'Kanit', sans-serif;
}

.cbtn{
    display: inline-block;
    text-decoration: none;
    color: #CED1DA;
    border: 1px solid white;
    border-radius:  10px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.cbtn:hover{
    border: 1px solid #57ADBF;
    background: #57ADBF;
    transition: 0.5s;
    color: white;
	font-size: 20px;
	box-shadow: 0 0px 20px 0 #ffffffb7;
}




/* Footer Section*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px;
}
.footer img{
    width: 100px;
    transition: 0.4s;
    border-radius:100px;
}
.footer img:hover{
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.7);
    width: 120px;
    border-radius:100px;
}




/* Keyframes */
@keyframes menu_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}



/* Media Section */

@media(max-width: 700px) {


	#home h1{
		font-size: 34px;
	}

	#about h1{
		font-size: 34px;
	}

    .contact h1{
        font-size: 24px;
    }

    .row{
        flex-direction: column;
    }

	
}


@media only screen and (min-width: 1200px) {


	#header .menu {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
}

